@import './Doctor';
@import './DoctorList';
@import './DoctorDetail';
@import './DoctorBooking';
@import './Bookings';
@import './BookingItem';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  color: #29303a;
}
